body {
  background-color: #2c2c2c;
  color: white;
  font-family: Helvetica;
}

.btnComp {
  font-size: 2em;
  border: 3px solid white;
  border-radius: 5px;

}

.btn {
  cursor: pointer;
}

.setTimerUpDnContainer {
  font-size: 0.5em;
}

.countDownBtnReset {
}


.board {
  width: 100vw;
  height: 100vh;

}
