.BoardTimerBoxBtnAdd {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;

}
.BoardTimerBoxBtnAdd i {
  border: 3px;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 1%;
}
