
.BoardBtnControls-Container {
    position: fixed;
    top: 0%; 
    background-color: rgba(59, 31, 56, 0.91);
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
}
.BoardBtnControls-Container i {
    color: #ff4081;
    margin-right: 10%;
    margin-left: 10px;
    display: inline;
    cursor: pointer;
}
.BoardBtnControls-Container i:hover {
  color: white;
}

.BoardBtnControls {

}
