
.TimerBoxCountDownTotal_container{
  border: 3px solid white;
  border-radius: 0.5em;
  padding: 1%;
  display: flex;
  justify-content: center;
}
.TimerBoxCountDownTotal_container div {
  margin: 0 2%;
}
.TimerBoxCountDownTotal_text {
  font-size: 10em;
}
