/* mdl-ified 
https://codepen.io/sdthornton/pen/wBZdXq */

.shadow {
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.timerBox {
  background: #fff;
  border-radius: 2px;
  height: 30rem;
  margin: 1rem;
  width: 50%;
}


.ticking {
  transition: background-color 0.3s ease;
  border: 3px solid red;
}

.topBar {
  /* should be blue, should be about 15% of the total height
    
  */
  height: 15%;
  background-color: blue;
  display: flex;
  justify-content: flex-end;
}