.TimerBoxCountDownSet {

}
.TimerBoxCountDownSet-container {
  display: flex;
  justify-content: center;
}

.TimerBoxCountDownSet-container div {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  text-align: center;
   	  margin: 0 1%;
   	  font-size: 5rem;
 
}


.TimerBoxCountDownSet-container input {
	height: 10rem;
	font-size: 7rem;
}
 .TimerBoxCountDownSet-container button {
 	height: 7rem;
 	border: 1px solid white;
 	width: 20%;
 }




// .hours > input[type="number"] {

// }

// .minutes > input[type="number"] {

// }

// .seconds > input[type="number"] {

// }

.TimerBoxCountDownSet button {
		margin-left: 2%;
		
}