.timerBoxCountDownSet {
	align-self:flex-start;
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 5px 0 1%;
}
.timerBoxCountDownSet span {
	font-size: 1.25rem;
	display: flex;
	justify-content: center;

}

.timerBoxCountDownSet input.mdl-textfield__input {
	font-size: 3rem;
	text-align: center;
}
.TimerBoxCountDownSet div {
	margin: 0 1%;

}
.ok-button {
	align-self: center;
}
