.TimerBoxCountDownSet {
	position: absolute;
	top: 45%;
	width: 100%
 
}
.TimerBoxCountDownSet-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.TimerBoxCountDownSet-container div {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  text-align: center;
   	  margin: 0 1%;
}


.hours {
}


.hours > input[type="number"] {
	width: 3em; /* 2 digits wide s*/
}

.minutes > input[type="number"] {
	width: 3em; /* 2 digits wide */
}
.minutes {

}
.seconds {

}

.seconds > input[type="number"] {
	width: 3em; /* 2 digits wide */
}
.TimerBoxCountDownSet button {
		margin-left: 2%;
		
}