body {
    background-color: black;
    color: white;
    width: 25%;
    font-family: 'arial';
}


.timerBox {
    background-color: red;
    height: 800px;

}

.topBar {
     display: flex; 
     flex-direction: row;
     position: relative;
}


.topBarLeft {
   position: absolute;
   left: 1%;
   margin: 1%;
}

.topBarRight {
    position: absolute;
    right: 1%;
    margin: 1%;


  
}

.btn {

    margin: 2%;
    border: 3px dotted grey;
    height: 40px;
    background-color: yellow;
     color: black;

}

.btnAddTimer {


}

.btnCloseTimer {


}
