
.timerBox {
    background-color: red;
    height: 400px;
    position: relative;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: white;
    border-radius: 20px;
}

.topBarContainer {
     display: flex;
     flex-direction: row;

}


.topBarLeft {
   position: absolute;
   left: 1%;
   margin: 1%;
}

.topBarRight {
    position: absolute;
    right: 1%;
    margin: 1%;



}


.btnComp {

    font-size: 2em;
    border: 3px dotted grey;
    text-align: center;
    vertical-align: middle;
    background-color: yellow;
     color: black;

}

.btnAddTimerComp {


}

.btnCloseTimerComp {


}

.titleContainer {
        color: white;
        background-color: green;
        font-size: 3em;
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
}


.titleComp {
}

.countDownContainer {
    display: flex;
    justify-content: center;
    font-size: 3em;
    background-color: inherit;
    position: absolute;
    border: 1px dotted white;
    width: 100%;
    top: 50%;
    text-align: center;
    border-radius: inherit;
}


.setTimerUpDnContainer {
    font-size: 0.5em;
    line-height: 1em;
}
