body {
  background-color: #2c2c2c;
  color: white;
  font-family: Arial;
}

.timerBox {
  background-color: green;
  height: 250px;
  position: relative;
  width: 30%;
  border-radius: 20px;
  border: 3px solid;
}

.topBarContainer {
 display: flex;
 flex-direction: row;
}


.topBarLeft {
 position: absolute;
 left: 1%;
 margin: 1%;
}

.topBarRight {
  position: absolute;
  right: 1%;
  margin: 1%;
}


.btnComp {
  font-size: 2em;
  border: 3px dotted grey;
  text-align: center;
  vertical-align: middle;
  background-color: yellow;
  color: black;
}

.btn {
  cursor: pointer;
}

.btnAddTimerComp {
  width: 10%;
  position: fixed;
  
  left: 90%;
}

.btnCloseTimerComp {

}




.countDownSettingsContainer {
  display: flex;
  justify-content: center;
  font-size: 2em;
  background-color: inherit;
  position: absolute;
  //border: 1px dotted white;
  width: 100%;
  top: 50%;
  text-align: center;
  /* border-radius: inherit; */

}


.setTimerUpDnContainer {
  font-size: 0.5em;
}

.countDownBtnReset {
}

input[type="number"] {
  font-size: 0.5em;
  width: 25%;
  text-align: center;
}

.board {
  width: 100vw;
  height: 100vh;

}

.countDownTextContainer {
  border: 3px solid white;
  border-radius: 0.5em;
  padding: 1%;
  position: absolute;
  top: 70%;
  left: 20%;
  right: 20%;
  
}

.countDownText {
  font-size: 3em;
  text-align: center;
  margin: auto;
}

